<!-- Only add ld+json if on a recipe page -->
{{ if .Page.Params.Ingredients }}
<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Recipe",
      "name": "{{ .Page.Params.Title }}",
      "image": [
        "{{ .Page.Params.ImageUrl | absURL }}"
      ],
      "description": "{{ .Page.Params.Description }}",
      "keywords": "{{ .Page.Params.Keywords }}",
      "datePublished": "{{ .Page.Date.Format "2006-01-02" }}",
      "prepTime": "{{ .Page.Params.PrepTimeISO }}",
      "cookTime": "{{ .Page.Params.CookTimeISO }}",
      "totalTime": "{{ .Page.Params.TotalTimeISO }}",
      "keywords": "{{ .Page.Params.Keywords }}",
      "recipeYield": "{{ .Page.Params.servings }}",
      "nutrition": {
        "@type": "NutritionInformation",
        "calories": "{{ .Page.Params.Nutrition.Calories }} kcal",
        "fatContent": "{{ .Page.Params.Nutrition.TotalFat }} g",
        "sugarContent": "{{ .Page.Params.Nutrition.Sugar }} g",
        "proteinContent": "{{ .Page.Params.Nutrition.Protein }} g",
        "carbohydrateContent": "{{ .Page.Params.Nutrition.Carbs }} g",
        "cholesterolContent": "{{ .Page.Params.Nutrition.Cholesterol }} mg",
        "sodiumContent": "{{ .Page.Params.Nutrition.Sodium }} mg",
        "fiberContent": "{{ .Page.Params.Nutrition.Fiber }} g",
        "transFatContent": "{{ .Page.Params.Nutrition.TransFat }} g",
        "saturatedFatContent": "{{ .Page.Params.Nutrition.SaturatedFat }} g"
      },
      "recipeIngredient": [
        {{ range $i, $e := .Page.Params.Ingredients }}
        {{ if $i }},{{ end }}"{{ $e }}"
        {{ end }}
      ],
      "recipeInstructions": [
        {{ range $i, $e := .Page.Params.Instructions }}
        {{ if $i }},{{ end }}{
          "@type": "HowToStep",
          "text": "{{ $e }}"
        }
        {{ end }}
      ]
    }
</script>
{{ end }}