{{ define "main" }}
<div id="main-content" tabindex="-1">
  {{ range .Paginator.Pages }}
  <article class="gdoc-markdown gdoc-post">
    <header class="gdoc-post__header">
      <h1 class="gdoc-post__title">
        <a href="{{ .RelPermalink }}">{{ partial "utils/title" . }}</a>
      </h1>
      <div class="flex flex-wrap align-center gdoc-post__meta">
        {{ partial "posts/metadata.html" . }}
      </div>
    </header>
    <section>
      {{ if .Page.Params.ImageUrl }}
        <img src="{{.Page.Params.ImageUrl}}" alt="Recipe image" class="recipe-image">
      {{ end }}
      {{ if .Page.Params.VideoUrl }}
        {{ .RenderString (printf "{{< youtube \"%s\">}}" .Page.Params.VideoUrl) }}
      {{ end }}
      <p>{{ .Page.Params.Description }}</p>
      <div class="gdoc-post__readmore">
          <a
            class="flex-inline align-center fake-link"
            title="{{ i18n "posts_read_more" }}"
            href="{{ .RelPermalink }}"
          >
            {{ i18n "posts_read_more" }}
            <i class="gdoc-icon">gdoc_arrow_right_alt</i>
          </a>
      </div>
    </section>
  </article>
  {{ end }}
</div>
{{ partial "pagination.html" . }}
{{ end }}